**MALARIA ITN ANALYSIS PROJECT WEEK 5**

# Importing python libraries

In [ ]:
# Importing the pandas library
import pandas as pd
# Importing the numpy library
import numpy as np

# Reading the Dataset from our Excel files

In [ ]:
# previewing the first five rows of our dataset
df_children = pd.read_excel('/content/Childre ITN.xlsx')
df_children.head()

  Unnamed: 0  ... Unnamed: 14
0        ISO  ...         NaN
1        NaN  ...     Richest
2        AFG  ...         6.5
3        AGO  ...          14
4        AGO  ...        34.2

[5 rows x 15 columns]

In [ ]:
# previewing the first five rows of our dataset
df_household = pd.read_excel('/content/Household ITN.xlsx')
df_household.head()

  Unnamed: 0  ... Unnamed: 12
0        ISO  ...         NaN
1        NaN  ...     Richest
2        AFG  ...        19.6
3        AGO  ...          31
4        AGO  ...        44.4

[5 rows x 13 columns]

In [ ]:
# previewing the first five rows of our dataset
df_pregnant = pd.read_excel('/content/Pregnant ITN.xlsx')
df_pregnant.head()

  Unnamed: 0  ... Unnamed: 12
0        ISO  ...         NaN
1        NaN  ...     Richest
2        AFG  ...         9.3
3        AGO  ...         NaN
4        AGO  ...        33.2

[5 rows x 13 columns]

# Accessing Information about our Dataset

In [ ]:
# Getting to know more about the dataset by accessing its information
df_children.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 15 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Unnamed: 0                                                                                                               248 non-null    object
 1   Children under 5 sleeping under an insecticide treated net (ITN)                                                         248 non-null    object
 2   Percentage of children (under age 5) who slept under an insecticide-treated mosquito net the night prior to the survey.  248 non-null    object
 3   Unnamed: 3                                                                                                               248 non-null    object
 4   Unnamed: 4                                                                                                               248 non-null    object
 5   Unnamed: 5                                                                                                               247 non-null    object
 6   Unnamed: 6                                                                                                               217 non-null    object
 7   Unnamed: 7                                                                                                               216 non-null    object
 8   Unnamed: 8                                                                                                               231 non-null    object
 9   Unnamed: 9                                                                                                               235 non-null    object
 10  Unnamed: 10                                                                                                              208 non-null    object
 11  Unnamed: 11                                                                                                              207 non-null    object
 12  Unnamed: 12                                                                                                              209 non-null    object
 13  Unnamed: 13                                                                                                              211 non-null    object
 14  Unnamed: 14                                                                                                              215 non-null    object
dtypes: object(15)
memory usage: 29.3+ KB

In [ ]:
# Getting to know more about the dataset by accessing its information
df_household.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 13 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Unnamed: 0                                                                         218 non-null    object
 1   Insecticide treated net ownership by households                                    218 non-null    object
 2   Percentage of households with at least one insecticide treated mosquito net (ITN)  218 non-null    object
 3   Unnamed: 3                                                                         218 non-null    object
 4   Unnamed: 4                                                                         218 non-null    object
 5   Unnamed: 5                                                                         218 non-null    object
 6   Unnamed: 6                                                                         210 non-null    object
 7   Unnamed: 7                                                                         208 non-null    object
 8   Unnamed: 8                                                                         198 non-null    object
 9   Unnamed: 9                                                                         198 non-null    object
 10  Unnamed: 10                                                                        197 non-null    object
 11  Unnamed: 11                                                                        197 non-null    object
 12  Unnamed: 12                                                                        196 non-null    object
dtypes: object(13)
memory usage: 22.4+ KB

In [ ]:
# Getting to know more about the dataset by accessing its information
df_pregnant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                  --------------  -----
 0   Unnamed: 0                                                                                              154 non-null    object
 1   Pregnant women sleeping under insecticide-treated nets (ITNs)                                           154 non-null    object
 2   Percentage of pregnant women (age 15-49) who slept under an insecticide-treated net the previous night  154 non-null    object
 3   Unnamed: 3                                                                                              154 non-null    object
 4   Unnamed: 4                                                                                              154 non-null    object
 5   Unnamed: 5                                                                                              153 non-null    object
 6   Unnamed: 6                                                                                              153 non-null    object
 7   Unnamed: 7                                                                                              149 non-null    object
 8   Unnamed: 8                                                                                              146 non-null    object
 9   Unnamed: 9                                                                                              146 non-null    object
 10  Unnamed: 10                                                                                             144 non-null    object
 11  Unnamed: 11                                                                                             145 non-null    object
 12  Unnamed: 12                                                                                             143 non-null    object
dtypes: object(13)
memory usage: 15.9+ KB

# Cleaning our dataset

**Validity**

In [ ]:
#Procedure 1: Renaming columns household dataset
df_household.rename(columns={"Unnamed: 0":"ISO","Insecticide treated net ownership by households":"Countries and areas","Percentage of households with at least one insecticide treated mosquito net (ITN)":"Year","Unnamed: 5":"National","Unnamed: 6":"Rural","Unnamed: 7":"Urban","Unnamed: 8":"Poorest","Unnamed: 9":"Second","Unnamed: 10":"Middle","Unnamed: 11":"Fourth","Unnamed: 12":"Richest"},inplace=True)
df_household.head()

   ISO  Countries and areas  Year  ...  Middle  Fourth  Richest
0  ISO  Countries and areas  Year  ...     NaN     NaN      NaN
1  NaN                  NaN   NaN  ...  Middle  Fourth  Richest
2  AFG          Afghanistan  2015  ...    29.5    31.5     19.6
3  AGO               Angola  2007  ...      33      29       31
4  AGO               Angola  2011  ...    32.6    41.8     44.4

[5 rows x 13 columns]

In [ ]:
#Procedure: Renaming columns on children dataset
df_children.rename(columns={"Unnamed: 0":"ISO","Children under 5 sleeping under an insecticide treated net (ITN)":"Countries","Percentage of children (under age 5) who slept under an insecticide-treated mosquito net the night prior to the survey.":"Year","Unnamed: 5":"National","Unnamed: 6":"Male","Unnamed: 7":"Female","Unnamed: 8":"Rural","Unnamed: 9":"Urban","Unnamed: 10":"Poorest","Unnamed: 11":"Second","Unnamed: 12":"Middle","Unnamed: 13":"Fourth","Unnamed: 14":"Richest"},inplace=True)
df_children.head()

   ISO            Countries  Year  ...  Middle  Fourth  Richest
0  ISO  Countries and areas  Year  ...     NaN     NaN      NaN
1  NaN                  NaN   NaN  ...  Middle  Fourth  Richest
2  AFG          Afghanistan  2015  ...     5.5     6.8      6.5
3  AGO               Angola  2007  ...      22      17       14
4  AGO               Angola  2011  ...    23.4      31     34.2

[5 rows x 15 columns]

In [ ]:
df_pregnant.head()

  Unnamed: 0  ... Unnamed: 12
0        ISO  ...         NaN
1        NaN  ...     Richest
2        AFG  ...         9.3
3        AGO  ...         NaN
4        AGO  ...        33.2

[5 rows x 13 columns]

In [ ]:
_#Procedure: Renaming columns on pregnant dataset
df_pregnant.rename(columns = {'Unnamed: 0':'ISO','Pregnant women sleeping under insecticide-treated nets (ITNs) ':'Countries and areas','Percentage of pregnant women (age 15-49) who slept under an insecticide-treated net the previous night':'Year','Unnamed: 5':'National','Unnamed: 6':'Rural','Unnamed: 7':'Urban','Unnamed: 8':'Poorest','Unnamed: 9':'Second','Unnamed: 10':'Middle','Unnamed: 11':'Fourth','Unnamed: 12':'Richest'}, inplace = True)

In [ ]:
# dropping rows that are irrelevant
df_household.drop([0,1],inplace = True)

In [ ]:
# dropping rows that are irrelevant
df_children.drop([0,1],inplace = True)

In [ ]:
df_pregnant.drop([0,1],inplace = True)

In [ ]:
#restting index for rows
df_household.reset_index(drop = True,inplace =True)

In [ ]:
df_pregnant.reset_index(drop = True, inplace =True)

In [ ]:
df_children.reset_index(drop = True,inplace = True)

In [ ]:
# Procedure 1: Irrelevant Observation
# Dropping columns 
# Explanation:We do not need them or they do not in fit the context of the problem
df_children.drop(columns = {'Unnamed: 3','Unnamed: 4','Male','Female'},inplace =True)
df_children.head()

   ISO    Countries  Year National Rural  ... Poorest Second Middle Fourth Richest
0  AFG  Afghanistan  2015      4.6   4.2  ...     1.1    3.3    5.5    6.8     6.5
1  AGO       Angola  2007       18    19  ...      17     16     22     17      14
2  AGO       Angola  2011     25.9  24.4  ...    11.7   17.9   23.4     31    34.2
3  AGO       Angola  2016     21.7  19.7  ...    16.8   23.1   23.9     23      22
4  AZE   Azerbaijan  2000        1     2  ...       2      2      2    NaN       1

[5 rows x 11 columns]

In [ ]:
# Dropping columns 
# Explanation:We do not need them or they do not in fit the context of the problem
df_household.drop(columns = {'Unnamed: 3','Unnamed: 4'},inplace =True)
df_household.head()

   ISO Countries and areas  Year National  ... Second Middle Fourth Richest
0  AFG         Afghanistan  2015       26  ...   28.2   29.5   31.5    19.6
1  AGO              Angola  2007       28  ...     22     33     29      31
2  AGO              Angola  2011     34.5  ...   22.8   32.6   41.8    44.4
3  AGO              Angola  2016     30.9  ...   33.8   34.8   30.7    26.9
4  BDI             Burundi  2005        8  ...      5      6      7      19

[5 rows x 11 columns]

In [ ]:
# Dropping columns 
# Explanation:We do not need them or they do not in fit the context of the problem
df_pregnant.drop(columns = {'Unnamed: 3','Unnamed: 4'},inplace = True)
df_pregnant.head()

   ISO Countries and areas  Year National  ... Second Middle Fourth Richest
0  AFG         Afghanistan  2015      4.1  ...      3    4.6    5.2     9.3
1  AGO              Angola  2007       22  ...   24.3   26.9   14.4     NaN
2  AGO              Angola  2011     25.6  ...   20.2   21.1   28.5    33.2
3  AGO              Angola  2016       23  ...   33.7   27.4   15.3    15.9
4  BDI             Burundi  2010     49.7  ...   44.7   57.4     46    56.4

[5 rows x 11 columns]

In [ ]:
# Procedure: Outliers
# Data Cleaning Action: none
# Explanation:None

 **Completeness**

In [ ]:
# Procedure: Missing values
# Explanation:Checking how many missing values there are across each column
df_household.isnull().sum()

ISO                     0
Countries and areas     0
Year                    0
National                0
Rural                   9
Urban                  10
Poorest                21
Second                 20
Middle                 21
Fourth                 21
Richest                22
dtype: int64

In [ ]:
df_children.isnull().sum()

ISO           0
Countries     0
Year          0
National      1
Rural        18
Urban        13
Poorest      41
Second       41
Middle       39
Fourth       37
Richest      33
dtype: int64

In [ ]:
df_pregnant.isnull().sum()

ISO                     0
Countries and areas     0
Year                    0
National                1
Rural                   2
Urban                   5
Poorest                 9
Second                  8
Middle                 10
Fourth                  9
Richest                11
dtype: int64

In [ ]:
# Dealing with missing values
# Household 
df_household.fillna(0 , inplace = True)

In [ ]:
#checking if null values have been dropped
df_household.isnull().sum().sum()

0

In [ ]:
# Dealing with missing values
# Children
df_children.fillna(0 , inplace = True)

In [ ]:
#checking if null values have been dropped
df_children.isnull().sum().sum()

0

In [ ]:
# Dealing with missing values
# Pregnant
df_pregnant.fillna(0 , inplace = True)

In [ ]:
#checking if null values have been dropped
df_pregnant.isnull().sum().sum()

0

**Consistency**

In [ ]:
# Procedure 1: Duplicates
# Checking for duplicates
# Explanation: They are repetitions in our dataset
df_household.duplicated().sum()

0

In [ ]:
# Checking for duplicates
df_children.duplicated().sum()

0

In [ ]:
# Checking for duplicates
df_pregnant.duplicated().sum()

0

**There are no duplicates in our data set**

**Uniformity**

In [ ]:
# Renaming column name in Household data set
df_household.rename(columns = {'Countries and areas':'Countries'},inplace =True)

In [ ]:
df_pregnant.rename(columns = {'Countries and areas':'Countries'},inplace = True)

In [ ]:
# Merging table children and pregnant
df = pd.concat([df_children,df_pregnant], ignore_index=True)
df

     ISO    Countries  Year  National  ...  Second  Middle  Fourth  Richest
0    AFG  Afghanistan  2015       4.6  ...     3.3     5.5     6.8      6.5
1    AGO       Angola  2007      18.0  ...    16.0    22.0    17.0     14.0
2    AGO       Angola  2011      25.9  ...    17.9    23.4    31.0     34.2
3    AGO       Angola  2016      21.7  ...    23.1    23.9    23.0     22.0
4    AZE   Azerbaijan  2000       1.0  ...     2.0     2.0     0.0      1.0
..   ...          ...   ...       ...  ...     ...     ...     ...      ...
395  ZMB       Zambia  2018      71.1  ...    79.0    72.8    62.1     56.8
396  ZWE     Zimbabwe  2006       3.2  ...     1.0     2.6     5.7      8.0
397  ZWE     Zimbabwe  2011       9.6  ...     8.6     8.9     7.3     11.9
398  ZWE     Zimbabwe  2014      24.9  ...    35.0    28.6    29.1     18.1
399  ZWE     Zimbabwe  2015       6.1  ...     8.4     4.0     6.0      4.3

[400 rows x 11 columns]

In [ ]:
# Checking if new table has null values
df.isnull().sum().sum()

0

In [ ]:
# Merging ddatasets with households
df_table = pd.concat([df,df_household], ignore_index=True)
df_table

     ISO    Countries  Year  National  ...  Second  Middle  Fourth  Richest
0    AFG  Afghanistan  2015       4.6  ...     3.3     5.5     6.8      6.5
1    AGO       Angola  2007      18.0  ...    16.0    22.0    17.0     14.0
2    AGO       Angola  2011      25.9  ...    17.9    23.4    31.0     34.2
3    AGO       Angola  2016      21.7  ...    23.1    23.9    23.0     22.0
4    AZE   Azerbaijan  2000       1.0  ...     2.0     2.0     0.0      1.0
..   ...          ...   ...       ...  ...     ...     ...     ...      ...
612  ZWE     Zimbabwe  2009      27.4  ...    29.5    25.3    26.1     29.3
613  ZWE     Zimbabwe  2011      28.8  ...    29.7    28.9    24.4     26.8
614  ZWE     Zimbabwe  2014      42.2  ...    48.1    41.8    35.7     31.7
615  ZWE     Zimbabwe  2015      47.9  ...    54.6    58.6    38.1     38.2
616  ZWE     Zimbabwe  2019      36.8  ...    39.8    44.2    35.5     30.3

[617 rows x 11 columns]

In [ ]:
df_table.isnull().sum().sum()

0

In [ ]:
# Check duplicated values for new created tables
df_table.duplicated().sum()

0

In [ ]:
df_children

     ISO    Countries  Year  National  ...  Second  Middle  Fourth  Richest
0    AFG  Afghanistan  2015       4.6  ...     3.3     5.5     6.8      6.5
1    AGO       Angola  2007      18.0  ...    16.0    22.0    17.0     14.0
2    AGO       Angola  2011      25.9  ...    17.9    23.4    31.0     34.2
3    AGO       Angola  2016      21.7  ...    23.1    23.9    23.0     22.0
4    AZE   Azerbaijan  2000       1.0  ...     2.0     2.0     0.0      1.0
..   ...          ...   ...       ...  ...     ...     ...     ...      ...
242  ZWE     Zimbabwe  2009      17.3  ...    17.5    15.6    16.4     17.7
243  ZWE     Zimbabwe  2011       9.7  ...     9.2     9.5     9.4     11.2
244  ZWE     Zimbabwe  2014      26.8  ...    30.0    26.8    22.5     17.8
245  ZWE     Zimbabwe  2015       9.0  ...    10.1     9.9     7.4      7.7
246  ZWE     Zimbabwe  2019      14.9  ...    16.8    16.1    16.2      9.7

[247 rows x 11 columns]

# Answering Research Questions

Analysis

In [ ]:
df_table

     ISO    Countries  Year  National  ...  Second  Middle  Fourth  Richest
0    AFG  Afghanistan  2015       4.6  ...     3.3     5.5     6.8      6.5
1    AGO       Angola  2007      18.0  ...    16.0    22.0    17.0     14.0
2    AGO       Angola  2011      25.9  ...    17.9    23.4    31.0     34.2
3    AGO       Angola  2016      21.7  ...    23.1    23.9    23.0     22.0
4    AZE   Azerbaijan  2000       1.0  ...     2.0     2.0     0.0      1.0
..   ...          ...   ...       ...  ...     ...     ...     ...      ...
612  ZWE     Zimbabwe  2009      27.4  ...    29.5    25.3    26.1     29.3
613  ZWE     Zimbabwe  2011      28.8  ...    29.7    28.9    24.4     26.8
614  ZWE     Zimbabwe  2014      42.2  ...    48.1    41.8    35.7     31.7
615  ZWE     Zimbabwe  2015      47.9  ...    54.6    58.6    38.1     38.2
616  ZWE     Zimbabwe  2019      36.8  ...    39.8    44.2    35.5     30.3

[617 rows x 11 columns]

Children

In [ ]:
df_children

     ISO    Countries  Year  National  ...  Second  Middle  Fourth  Richest
0    AFG  Afghanistan  2015       4.6  ...     3.3     5.5     6.8      6.5
1    AGO       Angola  2007      18.0  ...    16.0    22.0    17.0     14.0
2    AGO       Angola  2011      25.9  ...    17.9    23.4    31.0     34.2
3    AGO       Angola  2016      21.7  ...    23.1    23.9    23.0     22.0
4    AZE   Azerbaijan  2000       1.0  ...     2.0     2.0     0.0      1.0
..   ...          ...   ...       ...  ...     ...     ...     ...      ...
242  ZWE     Zimbabwe  2009      17.3  ...    17.5    15.6    16.4     17.7
243  ZWE     Zimbabwe  2011       9.7  ...     9.2     9.5     9.4     11.2
244  ZWE     Zimbabwe  2014      26.8  ...    30.0    26.8    22.5     17.8
245  ZWE     Zimbabwe  2015       9.0  ...    10.1     9.9     7.4      7.7
246  ZWE     Zimbabwe  2019      14.9  ...    16.8    16.1    16.2      9.7

[247 rows x 11 columns]

In [ ]:
# Which 5 countries have the lowest usage of ITNs?
leastcountrieschildren = dict(df_children.groupby("Countries")['National'].mean().sort_values(ascending=True).head())
leastcountrieschildren

{'Azerbaijan': 1.0,
 'Eswatini': 1.25,
 'Guatemala': 1.0,
 'Pakistan': 0.30000000000000004,
 'Tajikistan': 1.0}

In [ ]:
# Which 5 countries have the lowest usage of ITNs? in Rural areas
leastcountrieschildrenrural = dict(df_children.groupby(by = ["Countries"])['Rural'].mean().sort_values(ascending=True).head())
leastcountrieschildrenrural

{'Eswatini': 1.3,
 'Guatemala': 0.0,
 'Pakistan': 0.30000000000000004,
 'Sudan': 0.0,
 'Suriname': 0.0}

In [ ]:
# Which 5 countries have the lowest usage of ITNs? in urban areas
leastcountrieschildrenurban = dict(df_children.groupby("Countries")['Urban'].mean().sort_values(ascending=True).head())
leastcountrieschildrenurban

{'Guatemala': 0.0,
 'Pakistan': 0.1,
 'Sudan': 0.0,
 'Suriname': 0.0,
 'Tajikistan': 0.0}

Pregnant women

In [ ]:
df_pregnant

     ISO    Countries  Year  National  ...  Second  Middle  Fourth  Richest
0    AFG  Afghanistan  2015       4.1  ...     3.0     4.6     5.2      9.3
1    AGO       Angola  2007      22.0  ...    24.3    26.9    14.4      0.0
2    AGO       Angola  2011      25.6  ...    20.2    21.1    28.5     33.2
3    AGO       Angola  2016      23.0  ...    33.7    27.4    15.3     15.9
4    BDI      Burundi  2010      49.7  ...    44.7    57.4    46.0     56.4
..   ...          ...   ...       ...  ...     ...     ...     ...      ...
148  ZMB       Zambia  2018      71.1  ...    79.0    72.8    62.1     56.8
149  ZWE     Zimbabwe  2006       3.2  ...     1.0     2.6     5.7      8.0
150  ZWE     Zimbabwe  2011       9.6  ...     8.6     8.9     7.3     11.9
151  ZWE     Zimbabwe  2014      24.9  ...    35.0    28.6    29.1     18.1
152  ZWE     Zimbabwe  2015       6.1  ...     8.4     4.0     6.0      4.3

[153 rows x 11 columns]

In [ ]:
# Which 5 countries have the lowest usage of ITNs?
leastcountriespregnant = dict(df_pregnant.groupby('Countries')['Rural'].mean().sort_values(ascending=False).head())
leastcountriespregnant

{"Cte d'Ivoire": 57.15,
 'Kiribati': 85.1,
 'Madagascar': 58.63333333333333,
 'Mali': 67.0,
 'Togo': 60.025}

In [ ]:
# Which 5 countries have the lowest usage of ITNs? in Rural areas
leastcountriespregnantrural = dict(df_pregnant.groupby(by = ["Countries"])['Rural'].mean().sort_values(ascending=True).head())
leastcountriespregnantrural

{'Afghanistan': 3.4,
 'Eritrea': 2.1,
 'Eswatini': 1.5,
 'Ethiopia': 0.8,
 'Pakistan': 0.4}

In [ ]:
# Which 5 countries have the lowest usage of ITNs? in urban areas
leastcountriespregnanturban = dict(df_pregnant.groupby("Countries")['Urban'].mean().sort_values(ascending=True).head())
leastcountriespregnanturban

{'Cambodia': 1.7,
 'Eswatini': 0.4,
 'Indonesia': 1.1,
 'Pakistan': 0.3,
 'Sri Lanka': 0.0}

In [ ]:
# create a dataframe and add all dictionary values
y = pd.DataFrame({'leastcountrieschildren':pd.Series(leastcountrieschildren),'leastcountrieschildrenrural':pd.Series(leastcountrieschildrenrural), 'leastcountrieschildrenurban':pd.Series(leastcountrieschildrenurban), 'leastcountriespregnant':pd.Series(leastcountriespregnant), 'leastcountriespregnantrural':pd.Series(leastcountriespregnantrural), 'leastcountriespregnanturban':pd.Series(leastcountriespregnanturban)})
y

               leastcountrieschildren  ...  leastcountriespregnanturban
Afghanistan                       NaN  ...                          NaN
Azerbaijan                        1.0  ...                          NaN
Cambodia                          NaN  ...                          1.7
Cte d'Ivoire                     NaN  ...                          NaN
Eritrea                           NaN  ...                          NaN
Eswatini                          1.3  ...                          0.4
Ethiopia                          NaN  ...                          NaN
Guatemala                         0.0  ...                          NaN
Indonesia                         NaN  ...                          1.1
Kiribati                          NaN  ...                          NaN
Madagascar                        NaN  ...                          NaN
Mali                              NaN  ...                          NaN
Pakistan                          0.3  ...                          0.3
Sri Lanka                         NaN  ...                          0.0
Sudan                             0.0  ...                          NaN
Suriname                          0.0  ...                          NaN
Tajikistan                        1.0  ...                          NaN
Togo                              NaN  ...                          NaN

[18 rows x 6 columns]

In [ ]:
# fill null value with 0
y.fillna(0, inplace=True)

In [ ]:
# preview dataset
y

               leastcountrieschildren  ...  leastcountriespregnanturban
Afghanistan                       0.0  ...                          0.0
Azerbaijan                        1.0  ...                          0.0
Cambodia                          0.0  ...                          1.7
Cte d'Ivoire                     0.0  ...                          0.0
Eritrea                           0.0  ...                          0.0
Eswatini                          1.3  ...                          0.4
Ethiopia                          0.0  ...                          0.0
Guatemala                         0.0  ...                          0.0
Indonesia                         0.0  ...                          1.1
Kiribati                          0.0  ...                          0.0
Madagascar                        0.0  ...                          0.0
Mali                              0.0  ...                          0.0
Pakistan                          0.3  ...                          0.3
Sri Lanka                         0.0  ...                          0.0
Sudan                             0.0  ...                          0.0
Suriname                          0.0  ...                          0.0
Tajikistan                        1.0  ...                          0.0
Togo                              0.0  ...                          0.0

[18 rows x 6 columns]

In [ ]:
# Create new column 'Total %'
y['Total %'] = (y['leastcountrieschildren'] + y['leastcountrieschildrenrural'] + y['leastcountrieschildrenurban'] + y['leastcountriespregnant'] + y['leastcountriespregnantrural'] + y['leastcountriespregnanturban'])
y.sort_values('Total %', ascending=True).head()

           leastcountrieschildren  ...  Total %
Suriname                      0.0  ...      0.0
Sudan                         0.0  ...      0.0
Guatemala                     0.0  ...      0.0
Sri Lanka                     0.0  ...      0.0
Ethiopia                      0.0  ...      0.8

[5 rows x 7 columns]

The countries with low use of ITNs: Suriname, Sudan, Guatemala, Sri Lanka and Ethiopia

Analysis based on the most recent survey years

In [ ]:
# Latest survey carried out in the country of Suriname
df_table[(df_table['Countries'] == 'Suriname')].sort_values('Year', ascending = False).head(1)

     ISO Countries  Year  National  ...  Second  Middle  Fourth  Richest
196  SUR  Suriname  2010      43.4  ...    48.9     0.0     0.0      0.0

[1 rows x 11 columns]

In [ ]:
# Latest survey carried out in the country of Sudan
df_table[(df_table['Countries'] == 'Sudan')].sort_values('Year', ascending = False).head(1)

     ISO Countries  Year  National  ...  Second  Middle  Fourth  Richest
543  SDN     Sudan  2010      25.0  ...    26.6    28.3    25.9     20.5

[1 rows x 11 columns]

In [ ]:
# Latest survey carried out in the country of Guatemala
df_table[(df_table['Countries'] == 'Guatemala')].sort_values('Year', ascending = False).head(1)

    ISO  Countries  Year  National  ...  Second  Middle  Fourth  Richest
82  GTM  Guatemala  1999       1.0  ...     0.0     0.0     0.0      0.0

[1 rows x 11 columns]

In [ ]:
# Latest survey carried out in the country of Sri Lanka
df_table[(df_table['Countries'] == 'Sri Lanka')].sort_values('Year', ascending = False).head(1)

     ISO  Countries  Year  National  ...  Second  Middle  Fourth  Richest
107  LKA  Sri Lanka  2016       3.5  ...     4.4     4.4     2.9      0.8

[1 rows x 11 columns]

In [ ]:
# Latest survey carried out in the country of Ethiopia
df_table[(df_table['Countries'] == 'Ethiopia')].sort_values('Year', ascending = False).head(1)

    ISO Countries  Year  National  ...  Second  Middle  Fourth  Richest
54  ETH  Ethiopia  2015      45.3  ...    43.0    48.0    55.1     53.8

[1 rows x 11 columns]